@use 'highlight.js/scss/vs.scss';

.vue-diff-theme-custom {
  background-color: white;
}

.vue-diff-theme-custom pre {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 8pt;
  padding: 0 0 0 10px !important;
  user-select: text;
}

.vue-diff-viewer .vue-diff-row .lineNum {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 8pt !important;
}

.vue-diff-viewer {
  padding: 0 !important;
}