.window-base {
  position: absolute;
  background: linear-gradient(45deg, #fbc02d, #ffeb3b);
  border: 1px solid #ccb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: default;
  user-select: none;
}

.with-transition {
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.top-bar {
  height: 30px;
  background: #333;
  display: flex;
  align-items: center;
  cursor: move;
}

.close-button {
  width: 12px;
  height: 12px;
  background: #e3380d;
  border-radius: 50%;
  margin-left: 8px;
  cursor: pointer;
}

.fullscreen-button {
  width: 12px;
  height: 12px;
  background: #66BB6A;
  border-radius: 50%;
  margin-left: 8px;
  cursor: pointer;
}

.window-title {
  flex: 1;
  text-align: center;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.content-area {
  padding: 10px;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.resize-handle {
  position: absolute;
  background: transparent;
}

.resize-handle.right {
  width: 8px;
  right: -4px;
  top: 0;
  bottom: 0;
  cursor: ew-resize;
}

.resize-handle.bottom {
  height: 8px;
  bottom: -4px;
  left: 0;
  right: 0;
  cursor: ns-resize;
}

.resize-handle.bottom-right {
  width: 12px;
  height: 12px;
  bottom: -6px;
  right: -6px;
  cursor: nwse-resize;
}